{% extends "base.html" %}


{% block content %}
<section class="content">
    <div class="game-card game-card__order">
        <div class="game-photo game-photo__order">
            <img src="{{ url_for('static',filename='img/catalog/{}'.format(game.pic_path)) }}" alt="">
        </div>
        <div class="game-info game-info__order">
            {% if  flag%}
            <a href="#" class="btn-filter">НОВИНКА</a>
            {% else %}
            <a href="#" class="btn-filter">СТАРАЯ КЛАССИКА</a>
            {% endif %}
            <h2 class="game-page-name">{{game.name}}</h2>
            <ul>
                <li>Категория: <span>{{game.genre}}</span></li>
                <li>Разработчик: <span>{{game.developer}}</span></li>
                <li>Дата выхода: <span>{{game.date}}</span></li>
                <li>Платформы: <span>{{game.platform}}</span></li>
            </ul>
            <div class="game-price">
                <span>${{game.price}}</span>
                {% if current_user.is_anonymous %}
                {% else %}
                <a href="{{ url_for('buy_game', user_name=current_user.name, game_name=game.name) }}">
                    <button class="btn-cart">Заказать</button>
                </a>
                {% endif %}

            </div>
        </div>
    </div>


    <ul class="char-nav">
        <li class="char-nav-link char-nav-link-active">Описание</li>
    </ul>

    <ul class="char-tabs">
        <li class="char-tabs-all">
            {{game.text}}
            </div>
        </li>
    </ul>
</section>
{% endblock %}
{% block scripts %}
<script src="../js/page-game.js"></script>
<script src="../js/script.js"></script>
{% endblock %}